<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil War History Course</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
</head>
<body>
    <div class="container">
        <header>
            <h1>Civil War History Course</h1>
        </header>
        <main>
            <ul class="lessons">
                {% for lesson in lessons %}
                <li><a href="{{ url_for('lesson' ~ lesson.id) }}">Lesson {{ lesson.id }}: {{ lesson.title }}</a></li>
                {% endfor %}
            </ul>
        </main>
    </div>
</body>
</html>


